<div class="search-bar">
  <div class="container d-flex">
    <img
      class="logo m-r-1"
      src="../../../assets/images/apple-music-icon.svg"
      alt="logo"
      (click)="navigateToHome()"
    />
    <mat-form-field class="p-t-1" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        placeholder="Search for an artist..."
        aria-label="SearchArtist"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />

      <mat-autocomplete
        autoActiveFirstOption
        (optionSelected)="onOptionSelected()"
        #auto="matAutocomplete"
      >
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option.artistName">{{
          option.artistName
        }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <app-sort-albums class="p-t-1 m-l-1"></app-sort-albums>
  </div>
</div>
