@import "../../../assets/variables.scss";
.search-bar {
  position: fixed;
  width: 100vw;
  height: 6rem;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 0 1rem 0 $light-grey;
  background-color: white;
  .logo {
    width: 2.8rem;
  }
  @media only screen and (max-width: 700px) {
    .logo {
      width: 2rem;
    }
    height: 5rem;
  }
}
