<div class="album-list" #scrollContainer>
  <app-search-bar (onSearch)="loadAlbums($event)"></app-search-bar>
  <div class="container">
    <div class="d-flex flex-wrap">
      <ng-container
        *ngFor="let album of albums$ | async | slice : 0 : displayNumber"
      >
        <app-album-card [album]="album"></app-album-card>
      </ng-container>
    </div>

    <div *ngIf="!(albums$ | async)">
      <h2>Popular Artists Albums</h2>
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let album of popularAlbums$ | async">
          <app-album-card
            *ngIf="album.wrapperType === 'collection'"
            [album]="album"
          ></app-album-card>
        </ng-container>
      </div>
    </div>
  </div>

  <mat-spinner
    *ngIf="isLoading"
    diameter="50"
    class="m-auto"
    mode="indeterminate"
  ></mat-spinner>
</div>
