<div class="album-list" #scrollContainer>
  <app-search-bar (onSearch)="loadAlbums($event)"></app-search-bar>
  <div class="container">
    <div class="d-flex flex-wrap">
      @for (album of albums$ | async | slice : 0 : displayNumber ; track album)
      {
      <app-album-card [album]="album"></app-album-card>
      }
    </div>
    @if (!(albums$ | async) && !isLoading) {
    <div>
      <h2>Popular Artists Albums</h2>
      <div class="d-flex flex-wrap">
        @for (album of popularAlbums$ | async; track album) {
        <app-album-card [album]="album"></app-album-card>
        }
      </div>
    </div>
    }
  </div>
  @if(isLoading) {
  <mat-spinner diameter="50" class="m-auto" mode="indeterminate"></mat-spinner>
  }
</div>
